ul{
    list-style-type: none;
}


header{

    background: $secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-link{
        width: clamp(160px, 20vw, 260px);
        
        .logo{
            width: 100%;
        }
    }

    nav{
        position: fixed;
        right: 0;
        top: 0;
        background: white;
        height: 100vh;
        width: 70%;
        z-index: 9999;
        transform: translateX(100%);
        transition: transform .7s ease-in-out;

        ul{
            margin-top: 10em;
        }

        li{
            a{
                padding: 1em;
                color: $primary;
                border-bottom: 1px solid $border;
            
                &:hover{
                    background: rgb(214, 214, 214);
                }
            }
        }



        .close{
            width: 3em;
            float: right;
            margin: 2.5em;
        }

        
    }

    .menu{
        width: 2.5em;
        margin-right: 2.5rem;
    }
}


.open{
    transform: translateX(0);
}

/*RESPONSIVE*/
@media screen and (min-width: 765px){
   header{
    
    nav{
            transform: translateX(0);
            position: unset;
            width: auto;
            height: auto;
            display: block;
            background: none;
            margin-right: 2rem;


        ul{
            display: flex;
            margin-top: 0;
            padding: 0;
            align-items: center;
            justify-content: space-between;
        }

        li{
            a{
                color: white;
                margin-right: 1em;
                border-bottom: none;
            
                &:hover{
                    background: none;
                    font-weight: 700;
                }
            }
        }



        .close{
            display: none;
        }
    }

        .menu{
            display: none;
        }
    }
}

@media screen and (min-width: 1400px){
    header{
        nav{
            margin-right: 6rem;
        }
    }
}